DEBUG = True
PORT = 8888

MONGODB_CONNECTION_STRING = 'mongodb://localhost:27017/'
MONGODB_DATABASE = 'swys'

KOOABA_DATA_KEY_SECRET_TOKEN = ''
KOOABA_QUERY_KEY_ID = ''
KOOABA_QUERY_SECRET_TOKEN = ''

KOOABA_BUCKET_ID = ''

