DEBUG = True
PORT = 8888

MONGODB_CONNECTION_STRING = 'mongodb://localhost:27017/'
MONGODB_DATABASE = 'swys'

KOOABA_DATA_KEY_SECRET_TOKEN = ''
KOOABA_QUERY_KEY_ID = ''
KOOABA_QUERY_SECRET_TOKEN = ''

KOOABA_BUCKET_ID = ''

HASH_RANGE_VALUE = 1024
HASH_DISTANCE_THRESHOLD = 0.2

SEARCH_WORKER_ZMQ_ENDPOINT = 'tcp://127.0.0.1:10000'
